<% var meta = {
    pageTitle:'test',
    description:'foo',
    keywords:'foo',
    url:'foo',

};
%>
    <% include common/_header %>
        <div id="app">
            <router-link to="/">
                top
            </router-link>
            <router-link to="about">
                about
            </router-link>
            <router-link to="contact">
                contact
            </router-link>
            <vue-parent></vue-parent>
            <router-view></router-view>
        </div>

        <% include common/_footer %>